<div *ngIf="!movie">
  loading
</div>
<div *ngIf="movie">
    <div *ngIf="!movie.poster_path">
      <img src="assets/notfound.jpeg" class="movie-pic">
    </div>
  <div class="movie-cont">
    <h3>{{movie.title}}</h3>
    <div *ngIf="movie.poster_path">
      <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="movie-thumb">
    </div>
    <p><strong *ngFor="let genre of movie.genres">{{getGenre(genre.id)}} </strong></p>
    <p class="overview">{{movie.overview}}</p>
  </div>
</div>
